/* CSS Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "League Spartan", sans-serif;
    font-size: 0.938rem;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

/* Fonts */
@font-face {
    font-family: "League Spartan";
    src: url("./fonts/LeagueSpartan-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "League Spartan";
    src: url("./fonts/LeagueSpartan-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "League Spartan";
    src: url("./fonts/LeagueSpartan-Bold.ttf") format("truetype");
    font-weight: 700;
}

/* Variables */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

main {
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

.container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    max-width: 70rem;
    margin-inline: auto;
    padding: 2em;
    row-gap: 4em;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-right: 10em;
}

.hero__title {
    color: var(--very-dark-magenta);
    font-size: 3.7rem;
}

.hero__paragraph {
    color: var(--dark-grayish-magenta);
    line-height: 1.5em;
}

.rating-list {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.rating-card {
    background-color: var(--light-grayish-magenta);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding: 1em 2em;
    min-width: 25rem;
}

.rating-card:nth-child(1) {
    margin-right: 4em;
}

.rating-card:nth-child(2) {
    margin-right: 2em;
}

.rating__stars-container {
    display: flex;
    gap: .5em;
}

.rating__source {
    color: var(--very-dark-magenta);
    font-weight: 700;
}

.reviews-list {
    display: flex;
    gap: 2em;
    grid-column: 1 / span end;
    align-items: flex-start;
}

.review-card {
    display: flex;
    border-radius: 10px;
    background-color: var(--very-dark-magenta);
    gap: 1.5em;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2em;
}

.review-card:nth-child(2) {
    margin-top: 2em;
}

.review-card:nth-child(3) {
    margin-top: 4em;
}

.reviewer__profile {
    align-items: center;
    display: flex;
    gap: 1.2em;
}

.reviewer__profile-image {
    height: 40px;
    width: 40px;
}

.reviewer__profile-image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.reviewer__details {
    display: flex;
    gap: .4em;
    flex-direction: column;
}

.reviewer__name {
    color: var(--white);
    font-weight: 500;
}

.reviewer__verified {
    color: var(--soft-pink);
}

.reviewer__quote {
    color: var(--white);
    line-height: 1.4em;
}

@media only screen and (max-width: 50rem) {
    main {
        background-image: url("./images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    }
    .container {
        gap: 3em;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero {
        text-align: center;
    }

    .hero__title {
        font-size: 2.5em;
    }

    .rating-card {
        flex-direction: column;
        min-width: 100%;
    }

    .rating-card:nth-child(1),
    .rating-card:nth-child(2) {
        margin-right: 0;
    }

    .reviews-list {
        grid-column: unset;
    }

    .reviews-list {
        gap: 1em;
        flex-direction: column;
    }

    .review-card:nth-child(2),
    .review-card:nth-child(3) {
        margin-top: 0;
    }
}

@media only screen and (max-width: 66rem) {
    .hero {
        padding-right: 0;
    }
}