/* CSS Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "League Spartan", sans-serif;
    font-size: 0.938rem;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

/* Fonts */
@font-face {
    font-family: "League Spartan";
    src: url("./fonts/LeagueSpartan-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "League Spartan";
    src: url("./fonts/LeagueSpartan-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "League Spartan";
    src: url("./fonts/LeagueSpartan-Bold.ttf") format("truetype");
    font-weight: 700;
}

/* Variables */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

.container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.reviews-list {
    display: flex;
    gap: 2em;
    grid-column: 1 / span end;
    align-items: flex-start;
}

.review-card {
    display: flex;
    border-radius: 10px;
    background-color: var(--very-dark-magenta);
    gap: 1.5em;
    flex-direction: column;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2em;
}

.review-card:nth-child(2) {
    margin-top: 1em;
}

.review-card:nth-child(3) {
    margin-top: 2em;
}

.reviewer__profile {
    align-items: center;
    display: flex;
    gap: 1.2em;
}

.reviewer__profile-image {
    height: 40px;
    width: 40px;
}

.reviewer__profile-image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.reviewer__details {
    display: flex;
    gap: .4em;
    flex-direction: column;
}

.reviewer__name {
    color: var(--white);
    font-weight: 500;
}

.reviewer__verified {
    color: var(--soft-pink);
}

.reviewer__quote {
    color: var(--white);
    line-height: 1.4em;
}